body {
  margin: 0;
}
.header {
  background-color: rgb(217, 232, 227);
  display: flex;
  padding: 5px 20px;
  align-items: center;
}
.logo {
  margin-right: 10px;
}
.header h1 {
  color: #057b36;
  margin: 0;
  font-size: 38px;
}
.container {
  margin: 0.5%;
  display: flex;
  width: 99%;
}
.no_1,
.no_2,
.no_3,
.no_4,
.no_5,
.no_6,
.no_7,
.no_8,
.no_9 {
  padding-top: 20px;
  margin: 5px 2px;
  transition: 0.5s;
  height: 400px;
  border-radius: 10px;
}
.no_1:hover,
.no_2:hover,
.no_3:hover,
.no_4:hover,
.no_5:hover,
.no_6:hover,
.no_7:hover,
.no_8:hover,
.no_9:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
  background-color: rgb(211, 213, 204);
}
img {
  border-radius: 5px;
}
.menu {
  width: 90%;
  display: flex;
  text-align: center;
  margin: 0;
}
.menu_1 {
  width: 100%;
  text-align: center;
}
.menu_2 {
  width: 100%;
  text-align: center;
}
.menu_3 {
  width: 100%;
  text-align: center;
}
.menu h3 {
  color: #057b36;
  margin: 10px 0 0 0;
  text-align: center;
}
.menu h5 {
  margin: 0;
  text-align: center;
}
.menu_footer {
  display: flex;
  justify-content: center;
}
.order {
  width: 30%;
  background-color: rgb(237, 237, 237);
  padding: 15px;
  border-radius: 15px;
  margin-left: 5px;
}
.order_header {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  justify-content: space-between;
}
.order_header h3 {
  margin: 0;
}
.order h1 {
  color: #057b36;
  text-align: center;
  font-size: 54px;
  margin: 5px;
}
.order_body_list_head {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #057b36;
  border-bottom: 2px solid #057b36;
}
.order_body_list_head h5 {
  margin: 10px;
  text-align: center;
}
.order_body_list_head_menu {
  width: 120px;
}
button {
  border: 0;
  border-radius: 5px;
  background-color: #1b4f31;
  color: white;
  transition: 0.5s;
}
footer {
  display: flex;
  margin: auto;
  width: 99%;
}
footer button {
  margin: 0;
  padding: 10px;
  width: 50%;
  height: 50px;
  font-size: 20px;
  align-items: center;
}
footer button:hover {
  filter: brightness(1.5);
}
.cancle {
  background-color: rgb(136, 21, 44);
  border-radius: 0 10px 10px 0;
}
.delete_menu {
  background-color: rgb(136, 21, 44);
  border-radius: 5px;
  width: 65px;
}
.add {
  border-radius: 10px 0 0 10px;
}

.in_order {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: left;
}
.sum {
  border: 0;
  border-radius: 5px;
  text-align-last: right;
  font-size: 16px;
  color: #057b36;
}
